@import "variables";

.sidenav-container {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sidenav-list-header {
  margin: 1rem;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  // text-shadow: #fff 0px 1px 1px;
}
.sidenav {
  background-color: $primary;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}