
.spinner-container {
  background-color: rgba(253, 254, 254, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .mat-spinner {
    margin: 0 auto;
    top: calc(calc(calc(100vh - 7rem) / 2) - 50px);
  }
}